$site-padding-x-small-mobile: 0.75rem;
$site-padding-x-mobile: 1.5rem;
$site-padding-x-tablet: 0.75rem;
$site-padding-x-desktop: 3.125rem;
$inner-content-max-width: 70rem;

$site-margin-y-mobile: 1.5rem;
$site-margin-y-tablet: 1.75rem;
$site-margin-y-desktop: 2.125rem;
