@font-face {
  font-family: 'Steinbeck';
  src: url('/fonts/Steinbeck-Regular.otf') format('opentype'),
    url('/fonts/Steinbeck-Regular.woff2') format('woff2'),
    url('/fonts/Steinbeck-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
