@import 'config';
@import '~@sanctucompu/basement/src/index';
@import 'settings', 'fontface', 'reset', 'typography';

.inner-content-max-width {
  max-width: $inner-content-max-width;
}

.site-padding-x {
  padding-left: $site-padding-x-small-mobile;
  padding-right: $site-padding-x-small-mobile;

  @include media('sm-up') {
    padding-left: $site-padding-x-mobile;
    padding-right: $site-padding-x-mobile;
  }
  
  @include media('md-up') {
    padding-left: $site-padding-x-tablet;
    padding-right: $site-padding-x-tablet;
  }

  @include media('lg-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }
}

// Buttons

a,
button {
  cursor: pointer;
}

.button--style-blue-border,
.button--style-primary {
  @extend %transition-shorter;
  text-decoration: none;
  border-radius: 0.3125rem;
  line-height: 1rem;
}

.button--style-primary {
  background-color: color('blue');
  color: color('white');
  min-width: 9.25rem;
  padding: 1rem 1.5rem;

  @include media('md-up') {
    padding: 1rem 2rem;
    min-width: 11.75rem;
  }

  &:hover {
    background-color: color('blue-darker');
  }
}

.button--style-blue-border {
  background-color: transparent;
  border: 1px solid rgba(color('blue'), 0.2);
  color: color('blue');
  padding: 0.75rem 1rem;

  &:hover {
    background-color: color('blue');
    color: color('white');
  }
}

.button--style-no-style {
  @extend %transition-shorter;
  background-color: transparent;
  text-decoration: none;
}

.arrow {
  @extend %transition-short;

  &:hover {
    transform: translateX(0.25rem);
  }
}

// Header
.header {
  animation: $transition-duration-longer $transition-cubic-bezier 0s 1 normal forwards
    animation-fade-in-down;
  border-bottom: 1px solid color('cloud');

  @include media('md-up') {
    padding-right: 1.125rem;
  }

  &__logo-container {
    width: 5.25rem;

    @include media('md-up') {
      width: 7.143125rem;
    }
  }

  &__nav--desktop {
    a:not(:last-of-type) {
      margin-right: 2.4375rem;
    }
  }

  &__nav-toggle {
    span {
      width: 20px;
      height: 1px;
      background-color: color('black');
      transform-origin: center;

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }

    &.mobile-nav-active {
      span:first-of-type {
        margin-bottom: 0;
        transform: rotate(45deg);
      }
      span:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }

  &__nav-container--mobile {
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav--mobile {
    &.active {
      display: flex;
      height: calc(100vh - 58px);
    }

    a {
      font-size: 2.25rem;
      line-height: 1.3;
      margin-bottom: 0.25rem;
    }
  }
}

//Footer
.footer {
  border-top: 1px solid color('cloud');
  // Footer > Contact Section
  &__contact-section {
    @include media('md-up') {
      padding-top: 13.625rem;
      padding-bottom: 14.875rem;
    }

    &__email-link {
        font-size: 1.75rem;
        line-height: 1.3;

        @include media('md-up') {
          font-size: 2.625rem; 
        }
    }
  }

  .text-footer {
    color: rgba(color('gray'), 0.7);
  }
  
  // Footer > Bottom Nav
  &__nav-section {
    a {
      &:not(:last-of-type) {
        margin-right: 1.25rem;
      }

      &:hover {
        color: color('gray-darker');
      }
    }
  }
}

// Homepage
.home {

  // Homepage > Hero Section
  &__hero-section {

    &-text {
      animation: $transition-duration-longer $transition-cubic-bezier 0.25s 1 normal forwards animation-fade-in;
      margin-top: 2.75rem;

      @include media('md-up') {
        margin-top: 5.875rem;
      }

      @include media('lg-up') {
        margin-top: 12.4375rem;
      }
    }

    &-illustration-container {
      margin-top: 2.125rem;
      animation: $transition-duration-longer $transition-cubic-bezier 0.45s 1 normal forwards animation-fade-in;
    }
  }

  // Homepage > Case Studies Section
  &__studies-section {
    padding-top: 3.4375rem;
    padding-bottom: 3.4375rem;
  
    @include media('md-up') {
      padding-top: 10.75rem;
      padding-bottom: 8.375rem;  
    }
    
    @include media('lg-up') {
      padding-top: 8.375rem;
      padding-bottom: 8.375rem;  
    }
  }

  // Homepage > Offerings section
  &__offerings-section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  
    @include media('md-up') {
      padding-top: 8.5rem;
      padding-bottom: 8.5rem;
    }
  
    &-columns-container {
      padding-top: 4.3125rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 7rem;
    
      @include media('md-up') {
        padding-top: 8.4375rem;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
      }
    }
  }

  // Homepage > Pricing section
  &__pricing-section {
    padding-top: 4.25rem;
    padding-bottom: 5.625rem;
  
    @include media('md-up') {
      padding-top: 8.125rem;
      padding-bottom: 10rem;
    }
  
    &-heading {
      @include media('lg-up') {
        margin-bottom: 6.5rem;
      }
    }
  }

  // Homepage > Impact Section
  &__impact-section {
    padding-bottom: 7.75rem;

    @include media('md-up') {
      padding-bottom: 9.68755rem;
    }
    
    @include media('lg-up') {
      padding-bottom: 15.6875rem;
    }
  }

  // Homepage > Journey Section
  &__journey-section {
    padding-bottom: 5.125rem;

    @include media('md-up') {
      padding-bottom: 6.5rem;
    }
    
    @include media('lg-up') {
      padding-bottom: 9.6875rem;
    }
  }

  // specific text styling for impact & journey sections
  &__impact-section, &__journey-section {
    .text-subheader {
      font-size: 1.75rem;
      line-height: 1.3;

      @include media('lg-up') {
        font-size: 2.25rem;
      }
    }

    .text-body {
      @include media('lg-up') {
        font-weight: 300;
      }
    }
  }

}

// About Page

.about {
  &__hero-section {
    padding-top: 5.75rem;
  
    @include media('md-up') {
      padding-top: 9rem;
    }
    
    @include media('lg-up') {
      padding-top: 12.1875rem;
    }
  }
  
  &__pricing-section {
    padding-top: 7.875rem;
    padding-bottom: 7.875rem;
  
    @include media('md-up') {
      padding-top: 12.25rem;
      padding-bottom: 12.25rem;
    }
  
    @include media('lg-up') {
      padding-top: 16.8125rem;
      padding-bottom: 16.8125rem;
    }
  }
}

// Case Study Index Page

.study-index {
  // Case Study Index > Heading
  &__heading {
    @include media('md-up') {
      padding-top: 9rem;
      padding-bottom: 6.75rem;
    }
    
    @include media('lg-up') {
      padding-top: 10.25rem;
      padding-bottom: 10.25rem;
    }
  }

  // Case Study Index > Posts List
  &__studies {
    padding-bottom: 3.25rem;

    @include media('md-up') {
     padding-bottom: 9rem;
    }
    
    @include media('md-up') {
      padding-bottom: 8rem;
    }
  }
}

// Extra/Re-usable classes

// Case study card (home & case study index page)
.case-study-card {
  border: 1px solid color('cloud');
  border-radius: 0.75rem;
  padding: 1.5rem;
  max-width: 45rem;

  &__image {
    width: 6.25rem;
    height: 6.25rem;

    @include media('md-up') {
      width: 11.875rem;
      height: 11.875rem;
    }
  }

  &__excerpt, &__link {
    font-size: 0.75rem;
    line-height: 1.6;

    @include media('md-up') {
      font-size: 1rem;
    }
  }

  &__link {
    figure {
      width: 0.75rem;

      @include media('md-up') {
        width: 1.26375rem;
      }
    }
  }

  &__excerpt {
    // trunctating with ellipsis on mobile
    @include media('sm-down') {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;
      overflow: hidden;
    }
  }
}

// Callout card (about & blog post page)
.callout-card {
  border: 1px solid color('cloud');
  border-radius: 1.25rem;

  .arrow-link img {
    width: 1.25rem;
    vertical-align: sub;
  }
}

// Case Study Article

.article {
  
  // Article > Header
  &__header {
    padding-top: 3.5rem;
    padding-bottom: 4rem;

    @include media('md-up') {
      padding-top: 2.125rem;
      padding-bottom: 4.5rem;
    }
    
    @include media('lg-up') {
      padding-top: 3.8125rem;
      padding-bottom: 4.625rem;
      // removing site-padding-x
      padding-right: 0;
      padding-left: 0;
    }

    &-image {
      &-caption {
        @include media('sm-down') {
          font-size: 0.75rem;
        }
      }
    }

    &-title {
      @include media('lg-up') {
        width: 67.066667%;
      }
    }

    &-taglist {
      &-tag {
        border-radius: 0.625rem;
        padding: 0.625rem;

        @include media('md-up') {
          font-size: 0.875rem;
          line-height: 160%;
        }
      }
    }
  }

  // Article > Body
  &__body {
    padding-bottom: 1rem;

    @include media('md-up') {
      padding-bottom: 2.625rem;
    }

    @include media('lg-up') {
      // removing site-padding-x
      padding-right: 0;
      padding-left: 0;
    }

    // global width of children
    > h1, > h2, > h3, > p, ol, ul, blockquote, code, hr {
      @extend .col-12;

      @include media('lg-up') {
        width: 66.6666666667%;
      }
    }

    h1, h2, h3 {
      color: color('black');
    }

    h1 {
      @extend .text-subheader-alt;
      margin-bottom: 1.5rem;

      @include media('md-up') {
        margin-bottom: 4rem;
      }
      
      @include media('lg-up') {
        margin-bottom: 4.625rem;
      }
    }
    
    h2 {
      @extend .text-subheader-alt;
      margin-bottom: 0.75rem;

      @include media('md-up') {
        margin-bottom: 1.5rem;
      }
    }

    > p, > ul, > ol {
      @extend .text-body-light;
      color: color('gray');
      margin-bottom: 1.5rem;

      @include media('lg-up') {
        margin-bottom: 4.625rem;
      }
    }

    ul, ol {
      // list-style-position: inside;
    }

    strong { @extend .bold; }

    p {
      // border:green;
      
      & + p {
        // border:hotpink;
      }

      a {
        color: color('blue'); 
        text-decoration: underline;

        &:hover {
          color: color('blue-darker'); 
          text-decoration: none;
        }
      }

      // both images and captions
      > img, > img + em {
        @extend .col-12;
        display: block;

        @include media('lg-up') {
          width: 150%; // full width image on large viewports
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      // just image
      > img {
        @include media('md-up') {
          margin-top: 1.5rem;
        }

        @include media('lg-up') {
          // margin-top: 1.875rem;    
          margin-top: 0;    
        }
      }

      // just caption
      > img + em {
        margin-top: 0.75rem;
        @extend .text-body-sm;
        font-style: normal;
        color: color('gray');

        @include media('md-up') {
          margin-bottom: 4.5rem;
        }
        
        @include media('lg-up') {
          margin-bottom: 0;
        }
      }
    }

    blockquote {
      margin-top: 3.125rem;

      @include media('lg-up') {
        margin-top: 0;
      }

      // floating callout header
      > h2 {
        float: left;
        width: calc(50% + 1.5rem);
        // padding-top: 0.75rem;
        // padding-bottom: 0.75rem;
        padding-right: 1.5rem;
        margin-bottom: 0;

        @include media('md-up') {
          width: 50%;
          margin-bottom: 1.875rem;
        }

        @include media('lg-up') {
          width: 52%;
          margin-left: calc(-8.3333333333% - 3rem);
          padding-top: 0.75rem;
          padding-bottom: 1.875rem;
          padding-right: 2.25rem;
        }
      }

      > p {
        width: 100%;
        @extend .text-body-light;
        color: color('gray');
        margin-bottom: 2rem;
      }
    }

    hr {
      background-color: color('cloud');
      margin: 0 0 2rem;
      border: 0;
      height: 2px;
    }

    .callout-card {
      margin-bottom: 1.5rem;
      padding: 1.5rem;
      width: 100%;

      @include media('md-up') {
        margin-bottom: 2.375rem;
        margin-bottom: 2.75rem;  
        padding: 2rem;
      }
      
      @include media('md-up') {
        margin-bottom: 2.375rem; 
      }

      @include media('lg-up') {
        width: 66.6666666667%;
        margin-bottom: 4.625rem;
      }

      aside {
        @extend .text-eyebrow;
        margin-bottom: 0.25rem;
        color: color('gray');

        @include media('md-up') {
          margin-bottom: 0.5rem;
        }
      }

      main {
        @extend .text-body-light;
        margin-bottom: 1.5rem;
        color: color('gray');

        i {
          color: color('black');
        }
      }

      a {
        @extend .text-body-sm;
        color: color('blue');
        padding-top: 0.5rem;
        
        @include media('md-up') {
          padding-top: 1.5rem;
        }

        img {
          width: 1.25rem;
          vertical-align: sub;
          margin-right: 0.5rem;
        }
      }
    }
  
  }
}